---
interface Props {
  title?: string
}

const { title = 'Album' } = Astro.props
---

<span
  title=`More options for ${title}`
  aria-hidden='true'
  class='text-table-text transition-transform ease-out hover:text-white hover:scale-110 hover:cursor-pointer active:text-table-text active:scale-100'
>
  <svg
    fill='currentColor'
    data-encore-id='icon'
    role='img'
    aria-hidden='true'
    viewBox='0 0 24 24'
    width='32'
    height='32'
    ><path
      d='M4.5 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm15 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm-7.5 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'
    ></path></svg
  >
</span>
