<figure class='w-6 h-6 p-0'>
  <div class='m-0 p-0 h-6 w-6'>
    <img
      aria-hidden='false'
      draggable='false'
      src='https://i.scdn.co/image/ab67757000003b82701dcd401f4eb93d3db3edcf'
      alt='Abraham Galué'
      class='rounded-[50%] h-full object-cover w-full'
    />
  </div>
</figure>
