---
import Layout from '../layouts/Layout.astro'
import Greeting from '@/components/Greeting.svelte'
import PlayListItems from '@/components/PlayListItems.astro'
import BackgroundGradient from '@/components/BackgroundGradient.astro'
---

<Layout title='Spotify Clone - @abrahamgalue'>
  <div
    id='playlist-container'
    class='relative transition-all duration-1000 bg-[#22125f]'
  >
    <div class='relative z-10 px-6 pt-16'>
      <Greeting />

      <PlayListItems />

      <BackgroundGradient />
    </div>
  </div>
</Layout>
