---
import LibraryIcons from '@/icons/Library.astro'
import HomeIcon from '@/icons/Home.astro'
import SearchIcon from '@/icons/Search.astro'
import SideMenuItem from './SideMenuItem.astro'
import SideMenuCard from './SideMenuCard.astro'

import { playlists } from '@/lib/data'
---

<nav class='flex flex-col flex-1 gap-2 overflow-y-auto'>
  <div class='bg-[#121212] rounded-lg p-2'>
    <ul>
      <SideMenuItem href='/'>
        <HomeIcon />
         Home
      </SideMenuItem>

      <SideMenuItem href='/#'>
        <SearchIcon />
         Search
      </SideMenuItem>
    </ul>
  </div>

  <div class='bg-[#121212] rounded-lg p-2 flex-1'>
    <ul>
      <SideMenuItem href='/'>
        <LibraryIcons />
         Your Library
      </SideMenuItem>

      {playlists.map(playlist => <SideMenuCard playlist={playlist} />)}
    </ul>
  </div>
</nav>
