---
import MenuItem from './MenuItem.astro'
import HomeIcon from '@/icons/Home.astro'
import Search from '@/icons/Search.astro'
import SearchEmpty from '@/icons/SearchEmpty.astro'
import SideLibraryItem from './SideLibraryItem.astro'
import LibraryItem from './LibraryItem.astro'
import RoundedBtn from './RoundedBtn.astro'
import More from '@/icons/More.astro'
import MenuFilters from './MenuFilters.astro'
import MenuSearch from './MenuSearch.astro'
import RecentItem from './RecentItem.astro'
import MenuCard from './MenuCard.astro'

import { playlists } from '@/lib/data'

const currentURL = Astro.url.searchParams.get('q')
---

<nav class='flex flex-col flex-1 gap-2 overflow-y-auto'>
  <div class='bg-secondary-bg rounded-lg p-2'>
    <ul>
      <MenuItem href='/'>
        <HomeIcon />
        Home
      </MenuItem>

      <MenuItem href='/?q=search'>
        {
          currentURL !== null ? (
            <SearchEmpty />
          ) : (
            <Search width='24' height='24' />
          )
        }
        Search
      </MenuItem>
    </ul>
  </div>

  <div class='bg-secondary-bg rounded-lg p-2 flex-1'>
    <ul>
      <SideLibraryItem href='/'>
        <LibraryItem slot='library' />
        <RoundedBtn title='Create playlist or folder' slot='more-btn'>
          <More />
        </RoundedBtn>
      </SideLibraryItem>
      <MenuFilters>
        <p slot='playlist'>Playlist</p>
        <p slot='albums'>Albums</p>
        <p slot='artists'>Artists</p>
      </MenuFilters>

      <MenuSearch>
        <RoundedBtn title='Search in Your Library'>
          <Search width='16' height='16' />
        </RoundedBtn>
        <RecentItem />
      </MenuSearch>

      {playlists.map(playlist => <MenuCard playlist={playlist} />)}
    </ul>
  </div>
</nav>

<style>
  nav::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 0;
  }

  nav:hover::-webkit-scrollbar-thumb {
    background-color: #595959;
  }

  nav:hover::-webkit-scrollbar-thumb:hover {
    background-color: #898989;
  }
</style>
