---
interface Props {
  title?: string
  isHoverDisable?: boolean
  isActiveDisable?: boolean
}

const {
  title = 'Recents',
  isHoverDisable = false,
  isActiveDisable = false,
} = Astro.props
---

<span
  role='presentation'
  class=`text-table-text transition-all duration-75 hover:text-white ${isHoverDisable ? '' : 'hover:scale-110'} ${isActiveDisable ? '' : 'active:scale-100 active:text-table-text'}`
  ><span role='presentation'
    ><button
      class='flex justify-center items-center'
      role='combobox'
      aria-controls='sort-and-view-picker'
      aria-label='Recent, List view'
      aria-expanded='false'
      ><span class='text-sm'>{title}</span><span
        aria-hidden='true'
        class='IconWrapper__Wrapper-sc-16usrgb-0 fYTvv'
        ><svg
          class='ms-[5px]'
          fill='currentColor'
          data-encore-id='icon'
          role='img'
          aria-hidden='true'
          viewBox='0 0 16 16'
          class='Svg-sc-ytk21e-0 cAMMLk'
          width='16'
          height='16'
          ><path
            d='M15 14.5H5V13h10v1.5zm0-5.75H5v-1.5h10v1.5zM15 3H5V1.5h10V3zM3 3H1V1.5h2V3zm0 11.5H1V13h2v1.5zm0-5.75H1v-1.5h2v1.5z'
          ></path></svg
        ></span
      ></button
    ></span
  ></span
>
