---
interface Props {
  href?: string
}

const { href } = Astro.props
---

<li>
  <a
    class='flex gap-4 text-table-text hover:text-white items-center py-3 px-5 font-medium transition-colors'
    href={href}
  >
    <slot />
  </a>
</li>
