<li class='flex gap-2 px-2 py-4'>
  <div
    class='bg-[#222222] p-[4px_12px] text-[14px] rounded-full cursor-pointer hover:bg-[#2a2a2a] active:bg-[#1e1e1e] transition-colors'
  >
    <slot name='playlist' />
  </div>
  <div
    class='bg-[#222222] p-[4px_12px] text-[14px] rounded-full cursor-pointer hover:bg-[#2a2a2a] active:bg-[#1e1e1e] transition-colors'
  >
    <slot name='albums' />
  </div>
  <div
    class='bg-[#222222] p-[4px_12px] text-[14px] rounded-full cursor-pointer hover:bg-[#2a2a2a] active:bg-[#1e1e1e] transition-colors'
  >
    <slot name='artists' />
  </div>
</li>
