---
interface Props {
  href?: string
}

const { href } = Astro.props
---

<li>
  <a
    class='flex gap-4 text-[#a7a7a7] hover:text-white items-center py-3 px-5 font-medium transition duration-300'
    href={href}
  >
    <slot />
  </a>
</li>
