---
import { ViewTransitions } from 'astro:transitions'
import AsideMenu from '@/components/AsideMenu.astro'
import BackHistory from '@/components/BackHistory.jsx'
import RoundedBtn from '@/components/RoundedBtn.astro'
import Bell from '@/icons/Bell.astro'
import Profile from '@/icons/Profile.astro'
import { Player } from '@/components/Player'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Spotify Clone made with ❤️ by @abrahamgalue'
    />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='shortcut icon' href='/favicon.svg' type='image/x-icon' />
    <title>{title}</title>
    <ViewTransitions fallback='none' />
  </head>
  <body class='overflow-y-hidden'>
    <div id='app' class='relative h-screen p-2'>
      <aside class='[grid-area:aside] flex-col flex overflow-y-auto'>
        <AsideMenu />
      </aside>

      <main
        class='[grid-area:main] relative rounded-lg bg-secondary-bg overflow-y-auto w-full overflow-x-hidden'
      >
        <header
          class='h-16 px-6 flex items-center justify-between absolute max-w-[1162px] w-full left-0 top-0 z-20'
        >
          <BackHistory client:load transition:name='back-history' />
          <div class='flex gap-2'>
            <RoundedBtn
              activeBgColor=''
              bgColor='bg-[rgb(0,0,0,0.54)]'
              disableHover=''
              scale={true}
              title="What's New"
            >
              <Bell />
            </RoundedBtn>
            <RoundedBtn
              activeBgColor='active:opacity-30 active:scale-100'
              bgColor='bg-[rgb(0,0,0,0.54)]'
              disableHover='hover:bg-black'
              padding='p-[4px]'
              scale={true}
              title='Abraham Galué'
            >
              <Profile />
            </RoundedBtn>
          </div>
        </header>
        <slot />
      </main>

      <footer class='[grid-area:player] h-[89px] scroll-m-0 overflow-x-hidden'>
        <Player client:load transition:name='media-player' transition:persist />
      </footer>
    </div>
    <style>
      #app {
        display: grid;
        grid-template-areas:
          'aside main main'
          'player player player';
        grid-template-columns: 350px 1fr;
        grid-template-rows: 1fr auto;
      }
    </style>

    <style is:global>
      :root {
        --color-primary: #ffffff;
        --color-secondary: #b3b3b3;
        --color-tertiary: #919191;
        --color-bg-secondary: #121212;
        --color-bg-slider: #4d4d4d;
        --color-green-primary: #1ed760;
        --color-green-secondary: #1fdf64;
        --color-green-slider: #1db954;
        --color-table-text: #a7a7a7;
        --color-card-primary: #171717;
        --color-card-secondary: #282828;
        --color-card-tertiary: #1a1a1a;
        --gradient-playlist: linear-gradient(
          to bottom,
          color-mix(in srgb, #121212, transparent 65%) 0 25%,
          #121212 80% 100%
        );
      }

      html {
        font-family: 'CircularStd', system-ui, sans-serif;
        src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        background: #000;
        color: white;
      }

      body {
        min-width: 950px;
      }

      @font-face {
        font-family: 'CircularStdVariable';
        src: url('/fonts/CircularStd-Variable.woff2') format('woff2');
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Book.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Black.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }

      *,
      *::before,
      *::after {
        user-select: none;
      }

      *::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #575757;
      }

      *::-webkit-scrollbar-thumb:hover {
        background-color: #878787;
      }
    </style>
  </body>
</html>
